.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    height: 90vh;
}

.related-products h1 {
    color: #171717;
    font-size: 2rem;
    font-weight: 600;
}

.related-products hr {
    width: 15rem;
    height: 3px;
    border-radius: .5rem;
    background-color: #252525;
}


.related-products-item {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}